apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: locust-slaver
spec:
  selector:
    matchLabels:
      app: locust-slaver
  template:
    metadata:
      labels:
        app: locust-slaver
    spec:
      hostNetwork: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: locust-role
                    operator: In
                    values:
                      - slave
      containers:
      - name:  openpai-locust
        image: albafica/locust
        imagePullPolicy: Always
        volumeMounts:
          - mountPath: /mnt/locust
            name: locust-script
        env:
          - name: PAI_TOKEN
            value: "{{{{ env['cfg']['pai-token'] }}}}"
          - name: LOCUST_MODE
            value: "slave"
          - name: LOCUSTFILE_PATH
            value: "/mnt/locust/{{ env['cfg']['stress-test-script'] }}"
          - name: TARGET_URL
            value: "{{ env['cfg']['target-url'] }}"
          - name: LOCUST_MASTER_HOST
            value: "{{ env['cfg']['master-url'] }}"
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
      volumes:
      - name: locust-script
        configMap:
          name: locust-script-configuration
      serviceAccountName: locust-account

