apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: locust-master
spec:
  selector:
    matchLabels:
      app: locust-master
  template:
    metadata:
      labels:
        app: locust-master
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: locust-role
                    operator: In
                    values:
                      - master
      containers:
        - name:  openpai-locust
          image: locustio/locust
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /mnt/locust
              name: locust-script
          ports:
            - name: master-port
              containerPort: 8089
              hostPort: 8089
          env:
            - name: LOCUST_MODE
              value: "master"
            - name: LOCUSTFILE_PATH
              value: "/mnt/locust/{{ env['cfg']['stress-test-script'] }}"
            #- name: TARGET_URL
            #  value: "{{ env['cfg']['target-url'] }}"
      volumes:
      - name: locust-script
        configMap:
          name: locust-script-configuration
      serviceAccountName: locust-account


